<div class="main-table-div">
    <div class="main-table-left">
        <div class="left-icons">
        <span class="material-icons">
            flatware
            </span>
        </div>
    </div>
    <div class="main-table-right">
        <div class="main-header">
            <div class="main-header-div">
                <h3>the great table</h3>
                <select class="main-header-select">
                    <option selected value="today">today</option>
                </select>
            </div>
            <div class="search-bar">
                <input matInput type="text" class="mat-inputs">
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
        <div class="main-body-div">
            <div class="main-body-left-div">
                <div class="main-body-left-header">
                    <div class="main-body-left-header-table">Table</div><div class="main-body-left-header-name">5 - pawan</div>
                </div>
                <div class="main-body-left-body">
                    <div class="main-body-left-body-first-cards">
                        <mat-card class="main-body-left-body-mat-card">
                            <h4>Drinks</h4>
                        </mat-card>
                        <mat-card class="main-body-left-body-mat-card">
                            <h4>Food</h4>
                        </mat-card>
                        <mat-card class="main-body-left-body-mat-card">
                            <h4>Dessert</h4>
                        </mat-card>
                    </div>
                    <div class="main-body-left-body-second-cards">
                        <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <mat-select>
                            <!-- <mat-option>None</mat-option> -->
                            <mat-option value="wine" >Wine</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="main-body-left-body-last-cards">
                        <div class="main-body-left-body-cards">
                            <mat-card class="main-body-left-body-last-mat-card" >
                                <div class="image-card" ><img src="/../..\assets\wines\ben-jacobsen-IKA2h2qOjQs-unsplash.jpg" class="image-resize"/></div>
                                <div class="details-card">
                                    <div>
                                        <div></div>
                                        <div>price 2$</div>
                                    </div>
                                    <div class="button-card">
                                        <button mat-button >+</button>
                                        <button mat-button>1</button>
                                        <button mat-button>-</button>
                                    </div>
                                </div>
                            </mat-card>
                            <mat-card class="main-body-left-body-last-mat-card" >
                                <div class="image-card" ><img src="/../..\assets\wines\brett-jordan-3rfeuJyUDIM-unsplash.jpg" class="image-resize"/></div>
                                <div class="details-card">
                                    <div>
                                        <div></div>
                                        <div>price 2$</div>
                                    </div>
                                    <div class="button-card">
                                        <button mat-button >+</button>
                                        <button mat-button>1</button>
                                        <button mat-button>-</button>
                                    </div>
                                </div>
                            </mat-card>
                            <mat-card class="main-body-left-body-last-mat-card" >
                                <div class="image-card" ><img src="/../..\assets\wines\ceeces-travel-n6fz0zYJILU-unsplash.jpg" class="image-resize"/></div>
                                <div class="details-card">
                                    <div>
                                        <div></div>
                                        <div>price 2$</div>
                                    </div>
                                    <div class="button-card">
                                        <button mat-button >+</button>
                                        <button mat-button>1</button>
                                        <button mat-button>-</button>
                                    </div>
                                </div>
                            </mat-card>
                            <mat-card class="main-body-left-body-last-mat-card" >
                                <div class="image-card" ><img src="/../..\assets\wines\marissa-lewis-CvM40DHzB0Y-unsplash.jpg" class="image-resize"/></div>
                                <div class="details-card">
                                    <div>
                                        <div></div>
                                        <div>price 2$</div>
                                    </div>
                                    <div class="button-card">
                                        <button mat-button >+</button>
                                        <button mat-button>1</button>
                                        <button mat-button>-</button>
                                    </div>
                                </div>
                            </mat-card>
                            <mat-card class="main-body-left-body-last-mat-card" >
                                <div class="image-card" ><img src="/../..\assets\wines\the-creative-exchange-mpvACXMIlHU-unsplash (1).jpg" class="image-resize"/></div>
                                <div class="details-card">
                                    <div>
                                        <div></div>
                                        <div>price 2$</div>
                                    </div>
                                    <div class="button-card">
                                        <button mat-button >+</button>
                                        <button mat-button>1</button>
                                        <button mat-button>-</button>
                                    </div>
                                </div>
                            </mat-card>
                            <mat-card class="main-body-left-body-last-mat-card" >
                                <div class="image-card" ><img src="\assets\wines\christopher-john-pratt-eabRpSX4a1A-unsplash.jpg" class="image-resize"/></div>
                                <div class="details-card">
                                    <div>
                                        <div></div>
                                        <div>price 2$</div>
                                    </div>
                                    <div class="button-card">
                                        <button mat-button >+</button>
                                        <button mat-button>1</button>
                                        <button mat-button>-</button>
                                    </div>
                                </div>
                            </mat-card>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body-right-div">
                <div class="main-body-right-body-first-card">
                    <div class="check-name-div">
                        check
                    </div>
                    <div class="main-body-right-body-main-card">
                        <mat-card class="main-body-right-body-mat-card">
                            <div class="main-body-right-body-mat-card-details">
                                <div>Drinks</div>
                                <div>total:- 25$</div>
                            </div>
                            <div class="main-body-right-body-mat-card-details">
                                <div>Product Name</div>
                                <div>6$*2</div>
                                <div>12$</div>
                            </div>
                            <div class="main-body-right-body-mat-card-details">
                                <div>Product Name</div>
                                <div>13$</div>
                                <div>13$</div>
                            </div>
                        </mat-card>
                        <mat-card class="main-body-right-body-mat-card">
                            <div class="main-body-right-body-mat-card-details">
                                <div>Food</div>
                                <div></div>
                                <div>25$</div>
                            </div>
                        </mat-card>
                        <mat-card class="main-body-right-body-mat-card"></mat-card>
                        <mat-card class="main-body-right-body-last-mat-card"></mat-card>
                    </div>
                    <div>
                        <button mat-button class="payment-button">Pay Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- <div class="maindiv">
    <div class="mainleft">
        <div class="left-icons">
            <span class="material-icons"></span>
        </div>
    </div>
    <div class="mainright">
        <div class="mainheader">
            <div class="mainheader1">
                <h3>The Great Table</h3>
                <select class="mainheader1-select">
                    <option selected value="Today">Today</option>
                 </select>
             </div>
             <div class="searchbar">
                <input matInput type="text" class="mat-inputs">
                <span class="materialicons">search</span>
            </div>
                <div class="main-body-div">
                    <div class="main-body-left-div">
                        <div class="main-body-left-header">
                            <div class="main-body-left-header-table">Table</div>
                            <div class="main-body-left-header-name">5 - pawan</div>
                        </div>
                    </div>
                </div>
             <div class="main-body-left-body">
                <div class="main-body-left-body-first-cards">
                    <mat-card class="main-body-left-body-mat-card">
                           <h4>Drinks</h4>
                    </mat-card>
                 <mat-card class="main-body-left-body-mat-card">
                            <h4>Food</h4>
                        </mat-card>
                        <mat-card class="main-body-left-body-mat-card">
                            <h4>Dessert</h4>
                        </mat-card>
                </div>
                <div class="main-body-left-body-second-cards">
                        <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <mat-select>
                            <mat-option value="wine" >Wine</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                          </mat-select>
                        </mat-form-field>

                </div>
               <div class="main-body-left-body-last-cards">
                <div class="main-body-left-body-cards">
                    <mat-card class="main-body-left-body-last-mat-card">
                            <div class = mat-card-left>
                    <img src="/../../assets/wines/ceeces-travel-n6fz0zYJILU-unsplash.jpg" alt="Girl in a jacket" width="110" height="225">

                            </div>
                            <div class = mat-card-right>
                                <div class="bjb">
                                    <div class = mat-card-right-up>
                                        <h1>vinerom</h1>
                                        <h2>$7.28</h2>
                                    
                                    </div>
                                    <div class=mat-card-right-down>
                                        <div class="button-card">
                                            <button mat-button >+</button>
                                            <button mat-button>1</button>
                                           <button mat-button>-</button>
                                          </div>
                                         </div>
                                     </div>
                                </div>
                    </mat-card>
                        <mat-card class="main-body-left-body-last-mat-card">
                            <div class=mat-card-left-2>
                                <img src="/../../assets/wines/ceeces-travel-n6fz0zYJILU-unsplash.jpg" alt="pawan uppu" width="110" height="225">
                            </div>
                        <div class=mat-card-right-2>
                            <div class=ojk>
                                <div class=mat-card-right-up-2>
                                    <h1>luck-sra</h1>
                                    <h2>$10.25</h2>
                                </div>
                                <div class=mat-card-right-down>
                                    <div class="button-card">
                                        <button mat-button >+</button>
                                        <button mat-button>1</button>
                                       <button mat-button>-</button>
                                     </div>
                                 </div>
                            </div>

                            </div>
                     </mat-card>
                        <mat-card class="main-body-left-body-last-mat-card">
                        <div class=mat-card-left-3>
                            <img src="/../..\assets\wines\the-creative-exchange-mpvACXMIlHU-unsplash (1).jpg" alt="bharath" width="110" height="225">

                        </div>
                        <div class =mat-card-right-3>
                            <div class=jkl>
                                <div class=mat-card-right-up-3>
                                    <h1>bharvarsky</h1>
                                    <h2>$5.20</h2>

                                </div>
                                <div class=mat-card-right-down>
                                    <div class="button-card">
                                        <button mat-button >+</button>
                                        <button mat-button>1</button>
                                       <button mat-button>-</button>
                                     </div>
                                   </div>
                              </div>
                              </div>
                    </mat-card>
                    <mat-card class="main-body-left-body-last-mat-card">
                        <div class =mat-left-card-4>
                            <img src="/../..\assets\wines\marissa-lewis-CvM40DHzB0Y-unsplash.jpg" alt="ram" width="110" height="225">
                            
                        </div>
                        <div class=mat-card-right-4>
                            <div class="lmn">
                                <div class ="mat.card.right-up-4">
                                    <h1>lumenwire</h1>
                                    <h2>$13.0</h2>
                                </div>
                                <div class=mat-card-right-down>
                                    <div class="button-card">
                                        <button mat-button >+</button>
                                        <button mat-button>1</button>
                                       <button mat-button>-</button>
                                     </div>
                                   </div>

                            </div>

                        </div>

                    </mat-card>
                </div>
                </div>
            </div>
            <div class="main-body-right-div">
                <div class="main-body-right-body-first-card">
                    <div class="check-name-div">
                        check
                    </div>
                    <div class="main-body-right-body-main-card">
                        <mat-card class="main-body-right-body-mat-card">
                            <div class="main-body-right-body-mat-card-details">
                                <div>Drinks</div>
                                <div>total:- 25$</div>
                            </div>
                            <div class="main-body-right-body-mat-card-details">
                                <div>Product Name</div>
                                <div>6$*2</div>
                                <div>12$</div>
                            </div>
                            <div class="main-body-right-body-mat-card-details">
                                <div>Product Name</div>
                                <div>13$</div>
                                <div>13$</div>
                            </div>
                        </mat-card>
                        <mat-card class="main-body-right-body-mat-card">
                            <div class="main-body-right-body-mat-card-details">
                                <div>Food</div>
                                <div></div>
                                <div>25$</div>
                            </div>
                        </mat-card>
                        <mat-card class="main-body-right-body-mat-card"></mat-card>
                        <mat-card class="main-body-right-body-last-mat-card"></mat-card>
                    </div>
                    <div>
                        <button mat-button class="payment-button">Pay Now</button>
                    </div>
                </div>
            </div> -->
        
       
       
       

  
      
 












